<div class="container-all">
  <div class="container">
    <%= image_tag("natureza/1.jpeg", class:"photo") %>
      <span class="title">Lorem ipsum dolor</span>
      <span class="text">Morbi diam viverra mattis sociis magna, habitasse penatibus non lectus</span>
  </div>

  <div class="container">
    <%= image_tag("landscape/1.jpeg", class:"photo") %>
      <span class="title">Lorem ipsum dolor</span>
      <span class="text">Morbi diam viverra mattis sociis magna, habitasse penatibus non lectus</span>
  </div>

  <div class="container">
    <%= image_tag("family/1.jpeg", class:"photo") %>
      <span class="title">Lorem ipsum dolor</span>
      <span class="text">Morbi diam viverra mattis sociis magna, habitasse penatibus non lectus</span>
  </div>

  <div class="container">
    <%= image_tag("arquitecture/1.jpeg", class:"photo") %>
      <span class="title">Lorem ipsum dolor</span>
      <span class="text">Morbi diam viverra mattis sociis magna, habitasse penatibus non lectus</span>
  </div>

  <div class="container">
  <%= image_tag("portraits/24.jpeg", class:"photo") %>
    <span class="title">Lorem ipsum dolor</span>
    <span class="text">Morbi diam viverra mattis sociis magna, habitasse penatibus non lectus</span>
  </div>

  <div class="container">
  <%= image_tag("couple/39.jpeg", class:"photo") %>
    <span class="title">Lorem ipsum dolor</span>
    <span class="text">Morbi diam viverra mattis sociis magna, habitasse penatibus non lectus</span>
  </div>
</div>

