<div class="container-all">
  <div class="container">
    <%= image_tag("natureza/1.jpeg", class:"photo") %>
    <span class="title"><%= link_to 'Natureza' %></span>
  </div>

  <div class="container">
    <%= image_tag("landscape/1.jpeg", class:"photo") %>
    <span class="title"><%= link_to 'Paisagem' %></span>
  </div>

  <div class="container">
    <%= image_tag("portraits/24.jpeg", class:"photo") %>
    <span class="title"><%= link_to 'Retrato/Ensaios' %></span>
  </div>

  <div class="container">
    <%= image_tag("family/1.jpeg", class:"photo") %>
    <span class="title"><%= link_to 'Família' %></span>
  </div>

  <div class="container">
    <%= image_tag("couple/39.jpeg", class:"photo") %>
    <span class="title"><%= link_to 'Casais' %></span>
  </div>
</div>
  

