<div class="container-all">
  <div class="container">
    <%= link_to image_tag("nature/5.jpeg", class:"front-cover"), nature_index_path %>
    <span class="title"><%= 'Natureza' %></span>
  </div>

  <div class="container">
    <%= link_to image_tag("landscape/20.jpeg", class:"front-cover"), landscape_index_path %>
    <span class="title"><%= 'Paisagem' %></span>
  </div>

  <div class="container">
    <%= link_to image_tag("portraits/24.jpeg", class:"front-cover"), portraits_path %>
    <span class="title"><%= 'Retrato/Ensaios' %></span>
  </div>

  <div class="container">
    <%= link_to image_tag("family/24.jpeg", class:"front-cover"), family_index_path %>
    <span class="title"><%= 'Família' %></span>
  </div>

  <div class="container">
    <%= link_to image_tag("couple/39.jpeg", class:"front-cover"), couple_index_path %>
    <span class="title"><%= 'Casais' %></span>
  </div>
</div>
  

