<div class="erro">
  <% if @contact.errors.any? %>
    <ul>
      <% @contact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<div class="container-contact">
  <div class="row justify-content-center">
    <div class="col-4">
      <h3>Contato</h3>
      <br>

      <%= form_with(model: @contact) do |f| %>
        <div class="mb-3">
          <%= f.label :name, class:"form-label" %>
          <%= f.text_field :name, class:"form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :email, class:"form-label" %>
          <%= f.text_field :email, class:"form-control" %>
        </div>
        <div class="mb-3">
          <%= f.label :message, class:"form-label" %>
          <%= f.text_area :message, class:"form-control" %>
        </div>
        <div class= "d-none">
          <%= f.label :nickname %>
          <%= f.text_field :nickname, :hint => 'Leave this field blank!' %>
        </div>
          <%= f.submit 'Enviar', class:"btn btn-primary" %>
      <% end %>
    </div>
    <div class="col-4">
      <div class="contatos">
        <p><%= 'E-mail: karina.msakata@hotmail.com' %></p>
        <p><%= 'Endereço: Sorocaba/SP'%></p>
        <p><%= 'Telefone: (15) 9 8129-6577'%></p>
        <br>
          <%= link_to '<i class="fa-brands fa-instagram"></i>'.html_safe, 'https://www.instagram.com/midorikas' %>
          <%= link_to '<i class="fa-brands fa-linkedin-in"></i>'.html_safe, 'https://www.linkedin.com/in/karinasakata/' %>
          <%= link_to '<i class="fa-brands fa-whatsapp"></i>'.html_safe, 'https://wa.me/5515981296577' %>
      <div>
    </div>
  </div>
</div>